<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- タイトル -->
    <title>SIBグループウェア-社員マスタ　『新規/更新』</title>
    
    <!-- ブラウザを自動判定し、CSSファイルを切り替える -->
    <script type="text/javascript">
      var ie = "iestyle.css";
      var netscape = "niestyle.css";
      var cssfile;
      var browser = navigator.appName;
      
      if(browser == "Microsoft Internet Explorer")
        {cssfile = ie;}
      else
        {cssfile = netscape;}
        
      document.write('<link href="../../css/'+ cssfile +'" type="text/css" rel="stylesheet" />');
    </script>
    
    <script type="text/javascript">

      function chengeInsChk(){
        
        if( confirm("入力された内容で登録します。\nよろしいですか？")){
   
			document.getElementById("doFinishUpdate").click();
			
        }else{
          return false;
          
        }
        
      } 
      
      function chengeUpdChk(){
        
        if( confirm("入力された内容で更新します。\nよろしいですか？")){
   
			document.getElementById("doFinishUpdate").click();
 
        }else{
          return false;
          
        }
        
      }  
    </script>
    
    <link rel="stylesheet" href="../../css/cal_style_1.css" />
    <link rel="stylesheet" href="../../css/cal_style_2.css" />
    <link rel="stylesheet" href="../../css/commoninput.css" />
    
    <!--[if lt IE 7]>
      <script defer type="text/javascript" src="../../js/pngfix.js"></script>
    <![endif]-->
    
  </head>
  <body>
    <form id="employeeInputForm">
       <center>
         <div id="contents">
           <div id="c_pad">
             <h4 style="width:740px;">社員情報編集</h4>         

       
                <div id="cal">
          
                  <table class="companyinflist" style="width=770px;">
                    <tr>
                      <th align="left">社員名</th>
                      <td align="left"><input class="Text" id="EmployeeNameStr" style="width:150px;" maxlength="10" title="社員名" />
                      <br/><span id="EmployeeNameStrMessage"></span>
                      </td>
                    </tr>
                    <tr>
                      <th align="left">社員名（カナ）</th>
                      <td align="left">
                        <input class="Text" id="EmployeeNamekanaStr" style="width:150px;" maxlength="20" title="社員名（カナ）" />
                        <br/><span id="EmployeeNamekanaStrMessage"></span>
                      </td>
                    </tr>
                    <tr>
                      <th align="left">ログインＩＤ</th>
                      <td align="left">
                        <input class="Text" id="loginIDStr" style="width:200px;" maxlength="20" title="ログインID" />
                        <br/><span id="loginIDStrMessage"></span>
                      </td>
                    </tr>
                    <tr>
                      <th align="left">パスワード</th>
                      <td align="left">
                        <input class="Text" type="password" id="loginPasswordStr" style="width:200px;" maxlength="20" title="パスワード" />
                        <br/><span id="loginPasswordStrMessage"></span>
                      </td>
                    </tr>
                    <tr>
                      <th align="left">パスワード（確認）</th>
                      <td align="left">
                        <input class="Text" type="password" id="loginPasswordConfStr" style="width:200px;" maxlength="20" title="パスワード（確認）" />
                        <br/><span id="loginPasswordConfStrMessage"></span>
                      </td>
                    </tr>
                    <tr>
                      <th align="left">役職</th>
                      <td align="left">
                      	<input type="hidden" id="PositionCdItemsSave" />
						<select id="PositionCd" style="width:150px;">
						  <option value="0">dummy</option>
						</select>
                      </td>
                    </tr>
                    <tr>
                      <th align="left">グループ</th>
                      <td align="left">
                        <input type="hidden" id="GroupIdItemsSave" />
						<select id="GroupId" style="width:150px;">
						  <option value="0">dummy</option>
						</select>
						<span id="isUpdate-1">
						  &nbsp;&nbsp;
						  <input type="checkbox" id="flg" />
						  &nbsp;移籍
						</span>
                      </td>
                    </tr>
                    <tr>
                      <th align="left">メールアドレス</th>
                      <td align="left">
                        <input class="Text" id="EmployeeemailStr" style="width:350px;" maxlength="32" title="メールアドレス" />
                        <br/><span id="EmployeeemailStrMessage"></span>
                      </td>
                    </tr>
                    <tr>
                      <th align="left">有効/無効</th>
                      <td align="left">
                      	<div id="isUpdate-2">
                         <input type="hidden" id="kaihaiItemsSave" />
                         <select id="kaihai" style="width:100px;">
                           <option value="0">dummy</option>
                         </select>
                      	</div>
                      	<div id="isNotUpdate-2">
                           有効
                      	</div>

                      </td>
                    </tr>
                    <tr>
                      <th align="left">表示順</th>
                      <td align="left">
                        <input class="Text" id="orderSEQStr" style="width:80px;" maxlength="8" title="表示順" />
                        <br/><span id="orderSEQStrMessage"></span>
                      </td>
                    </tr>
                  </table>
                </div>
                <br/>
                <h1><span id="UpdateMes"></span></h1>
                     </div>
         </div>
       </center>
                <br/>
                <br/>

                <div id="isUpdate-3">
                  <img onclick="chengeUpdChk()" src="../../img/btnupd.png" style="width:40px;height:21px;" alt="更新" ></img>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="image" id="doFinishReturn" src="../../img/btnret.png" style="width:40px;height:21px;" alt="戻る" />
                </div>
                <div id="isNotUpdate-3">
                  <img onclick="chengeInsChk()" src="../../img/btnadd.png" style="width:40px;height:21px;" alt="追加" ></img>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="image" id="doFinishReturn" src="../../img/btnret.png" style="width:40px;height:21px;" alt="戻る" />
                </div>

				  <!-- 隠し項目 -->
				  <input type="button" id="doFinishUpdate" style="display:none;"/>
				  <input type="hidden" id="OldGroupId" />
				  <input type="hidden" id="selectempID" />
				  <input type="hidden" id="dOru"/>
				
    </form>
  </body>
</html>