<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- タイトル -->
    <title>SIBサービスアダプタ管理画面-ログイン</title>
    
    <link rel="stylesheet" href="../css/commoninput.css" />
    
    <!-- ブラウザを自動判定し、CSSファイルを切り替える -->
    <script type="text/javascript">
      var ie = "iestyle.css";
      var netscape = "niestyle.css";
      var cssfile;
      var browser = navigator.appName;
      
      if(browser == "Microsoft Internet Explorer")
        {cssfile = ie;}
      else
        {cssfile = netscape;}
        
      document.write('<link href="../css/'+ cssfile +'" type="text/css" rel="stylesheet" />');
    </script>
    
    <!--[if lt IE 7]>
      <script defer type="text/javascript" src="../js/pngfix.js"></script>
    <![endif]-->
    
  </head>
  <body>
  
  <center>
    <form id="loginForm">
      <center>
        <div id="contents">
          <div id="c_pad">                 
            <h4>SIBサービスアダプター管理画面&nbsp;&nbsp;ログイン</h4>
            <br/>
            <h1>ID、パスワードを入力してログインしてください。</h1>
          </div>
        </div>
        <table border="0" style="height:150px;">
          <tbody>
              <tr>
                <td valign="top" height="20" width="80" align="left">
                  ID
                </td>
                <td valign="top" height="20" >
                  <input id="loginIDStr" class="Text" style="width:150px;" maxlength="20" title="ログインID" />
                  <br/><span id="loginIDStrMessage"></span>
                </td>
              </tr>
              <tr>
                <td valign="top" height="50" align="left">
                                               パスワード    
                </td>
                <td valign="top" height="50" >
                  <input id="loginPasswordStr" class="Text" type="password" style="width:150px;" maxlength="20" title="ログインパスワード" />
                  <br/><span id="loginPasswordStrMessage"></span>
                </td>
              </tr>
              <tr>
                <td valign="top" >
          
                </td>
                <td valign="top" align="right">
                  <input type="image" id="doLogin" src="../img/btnlogin.png" style="width:60px;height:21px;" alt="ログイン" />
                </td>
              </tr>
            </tbody>
          </table>
        </center>
      </form>
    </center>
  </body>
</html>