<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:te="http://www.seasar.org/teeda/extension" xml:lang="ja"
	lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- タイトル -->
<title>SIBグループウェア-小口管理-申請一覧画面</title>

<link rel="stylesheet" href="../css/commoninput.css" />

<!-- ブラウザを自動判定し、CSSファイルを切り替える -->
<script type="text/javascript">
	var ie = "iestyle.css";
	var netscape = "niestyle.css";
	var cssfile;
	var browser = navigator.appName;

	if (browser == "Microsoft Internet Explorer") {
		cssfile = ie;
	} else {
		cssfile = netscape;
	}

	document
			.write('<link href="../css/'+ cssfile +'" type="text/css" rel="stylesheet" />');
</script>

<!--[if lt IE 7]>
      <script defer type="text/javascript" src="../js/pngfix.js"></script>
    <![endif]-->

</head>

<body>
	<form id="Form">
		<div>
			<span id="messages"></span>
		</div>

		<!-- ログイン情報はBasesClassのメソッド[setLoginInfo]メソッドを呼び出して行う。 -->
		<center>
			<div id="contents">
				<div id="c_pad">
					<h4>ログイン社員情報</h4>
					<table border="0" width="700px">
						<tbody>
							<tr>
								<td><img src="../img/p3.png" alt="logo"></img></td>
								<td>
									<table class="companyinflist" style="" align="left">
										<tr>
											<th>社員コード</th>
											<td align="left"><span id="employee_id"></span></td>
										</tr>
										<tr>
											<th>社員名</th>
											<td align="left"><span id="employee_name"></span></td>
										</tr>
										<tr>
											<th>メールアドレス</th>
											<td align="left"><span id="employee_mail"></span></td>
										</tr>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</center>
		<!-- 検索条件エリアタイトル -->
		<center>
			<div id="contents">
				<div id="c_pad">
					<h2>管理者一覧</h2>
				</div>
			</div>
		</center>
		<!-- 検索条件エリア-->
		<center>
			<div style="width: 770px; padding: 10px;">
				<table class="companyinflist" style="" align="left">
					<tr>
						<th style="width: 180px;">検索条件</th>
						<td>請求日 <br></br>
						<!-- 検索プルダウン年表示 -->
						<input type="hidden" id="yearcombo_Save" />
						<select id="yearlist" name="form:yearlist" style="width: 120px;">
						</select>
						年
						<!-- 検索プルダウン月表示 -->
						<input type="hidden" id="monthcombo_Save" />
						<select id="monthlist" name="form:monthlist" style="width: 40px;">
						</select>
						月
						</td>
						<!-- 検索プルダウンステータス表示 -->
						<td style="width: 120px;">ステータス <br></br> <input type="hidden" id="kogutistr" />
							<select id="strlist" name="form:strlist" style="width: 100px;">
						</select>
						</td>
						<td><input type="image" id="doSrech" src="../img/btnsrc.png"
							style="width: 60px; height: 21px;" alt="絞り込み" />
							&nbsp;&nbsp;&nbsp;&nbsp; <input type="image" id="doSrechCancel"
							src="../img/btnsrccan.png" style="width: 60px; height: 21px;"
							alt="絞り込み解除" /></td>
						<td style="width: 100px;"><input type="image" id="doinsnew" src="../img/btnnew.png"
							style="width: 60px; height: 21px;" alt="新規登録" /></td>
					</tr>
				</table>
			</div>
		</center>
		<!-- 行間 -->
		<table>
			<tr>
				<td><div style="width: 700px;"></div></td>
			</tr>
		</table>
		<!-- 小口一覧照会エリア-->
		<center>
			<div style="width:770px; padding: 10px;">
				<table class="companyinflist" style="" align="left">
					<tbody>
						<tr>
							<th style="width: 100px;">請求日</th>
							<th style="width: 140px;">プロジェクトコード</th>
							<th style="width: 80px;">ステータス</th>
							<th style="width: 90px;">勘定科目</th>
							<th style="width: 90px;">金額</th>
							<th style="width: 100px;">更新日</th>
							<th style="width: 100px;">備考</th>
							<th style="width: 70px;"></th>
						</tr>
					</tbody>
					<tbody id="kanjoItems">
						<tr>
							<td style="width: 100px;" align="left"><span id="seikyu_Date"></span></td>
							<td style="width: 140px;" align="left"><span id="PJ_CODE"></span></td>
							<td style="width: 80px;" align="left"><span id="state"></span></td>
							<td style="width: 90px;" align="left"><span id="kamoku"></span></td>
							<td style="width: 90px;" align="right"><span id="kingaku"></span></td>
							<td style="width: 100px;" align="left"><span id="upd_date"></span></td>
							<td style="width: 100px;" align="left"><span id="bikou"></span></td>
							<td style="width: 70px;"><input type="image" id="doinfo" src="../img/btndeta.png" style="width:40px;height:21px;" alt="詳細" /></td>
						</tr>
					</tbody>
				</table>
			</div>
		</center>
	</form>
</body>
</html>
