<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:te="http://www.seasar.org/teeda/extension" xml:lang="ja" lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title></title>
  </head>
  
  <body>
  
    <center>
      <table class="MasterTABLE">
        <tr>
          <td>
            <div id="header"><img src="../img/logo.png" alt="logo" width="120" height="80" align="left"></img>
              <h1><a href="http://www.sib.co.jp">　SIB</a></h1>
              <div id="sub">　会計業務とシステムインテグレーションの理想的なコラボレーションを目指します。 株式会社SIB</div>
              <div id="sub2">http://www.sib.com/</div>
            </div><!--header end-->
            <div id="nav">
              <ul>
		        <li><a href="../../schedulelist/weekSchedule.html">月間スケジュール</a></li>
		        <li><a href="../../matterlist/matterlist.html">参画案件情報</a></li>
		        <li><a href="../../employeeinf/employeeinf.html">社員一覧</a></li>
		        <li><a href="../../topics/topicslist.html">トピックス</a></li>
		        <li id="isMante"><a href="../../masterMaintenance/mastermainte.html">メンテナンス</a></li>
		        <li><a href="../../privateinf/privateinf.html">個人情報編集</a></li>
		        <li><a href="../../login/logout.html">ログアウト</a></li>
              </ul>
            </div>
            <div id="base">
              <div id="wrap">
                <te:includeChildBody/>
              </div><!--wrap end -->
              
              <div id="f_menu">
                <h4><span id="CompanyNameStr"></span></h4>
                <p><span id="CompanyPostCodeStr"></span>&nbsp;<span id="CompanyAddress1Str"></span>&nbsp;<span id="CompanyAddress2Str"></span><BR/>
                <span id="CompanyTelStr"></span>&nbsp;<span id="CompanyFaxStr"></span></p>
      
              </div><!--f_menu end -->
              <address>Copyright (C) SIB All Rights Reserved.</address>
            </div><!--base end -->
          </td>
        </tr>
      </table>
    </center>
  </body>
</html>