<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:te="http://www.seasar.org/teeda/extension" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- タイトル -->
    <title>SIBグループウェア-経理用申請可否対象-一覧画面</title>

    <link rel="stylesheet" href="../css/commoninput.css" />
    
    <!-- ブラウザを自動判定し、CSSファイルを切り替える -->
    <script type="text/javascript">
      var ie = "iestyle.css";
      var netscape = "niestyle.css";
      var cssfile;
      var browser = navigator.appName;
      
      if(browser == "Microsoft Internet Explorer")
        {cssfile = ie;}
      else
        {cssfile = netscape;}
        
      document.write('<link href="../css/'+ cssfile +'" type="text/css" rel="stylesheet" />');
    </script>
    
    <!--[if lt IE 7]>
      <script defer type="text/javascript" src="../js/pngfix.js"></script>
    <![endif]-->
    
</head>
<body>
<form id="Form">
<div><span id="messages"></span></div>

	<!-- ログイン情報はBasesClassのメソッド[setLoginInfo]メソッドを呼び出して行う。 -->
	<center>
		<div id="contents">
			<div id="c_pad">
				<h4>ログイン社員情報</h4>
				<table border="0" width="800px" >
					<tbody>
						<tr>
							<td>
								<img src="../img/p3.png" alt="logo" ></img>
							</td>
							<td>
								<table class="companyinflist" style="width=500px;" align="left">
									<tr>
										<th>社員コード</th>
										<td align="left"><span id="employee_id"></span></td>
									</tr>
									<tr>
										<th>社員名</th>
										<td align="left"><span id="employee_name"></span></td>
									</tr>
									<tr>
										<th>メールアドレス</th>
										<td align="left"><span id="employee_mail"></span></td>
									</tr>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</center>
	
        <div id="contents">
          <div id="c_pad">
            <h2>経理用申請可否対象一覧画面</h2>
          </div>
        </div>

       <div style="width:770px;padding:10px;">
       <table class="companyinflist" >
         <tr>
           <th style="width:80px;">
                                 検索条件
           </th>
           <td style="width:60px;">
                              年<br/>
             <input type="hidden" id="yearItemsSave" />
			 <select id="year" style="width:60px;">
			   <option value="0">dummy</option>
			 </select>
           </td>
           <td style="width:40px;">
                               月<br/>
             <input type="hidden" id="monthItemsSave" />
			 <select id="month" style="width:40px;">
			   <option value="0">dummy</option>
			 </select>
           </td>
           <td style="width:80px;">
                              ステータス<br/>
             <input type="hidden" id="statusItemsSave" />
			 <select id="status" style="width:100px;">
			   <option value="0">dummy</option>
			 </select>
           </td>
           <td style="width:150px;">
                             プロジェクトコード<br/>
             <input type="hidden" id="pjcodeListItemsSave" />
			 <select id="pjcodeList" style="width:150px;">
			   <option value="0">dummy</option>
			 </select>
           </td>
           <td style="width:300px;">
             <input type="image" id="doSrech" src="../img/btnsrc.png" style="width:60px;height:21px;" alt="絞り込み" />
             &nbsp;&nbsp;&nbsp;&nbsp;
             <input type="image" id="doSrechCancel" src="../img/btnsrccan.png" style="width:60px;height:21px;" alt="絞り込み解除" />
           </td>
         </tr>
       
       </table>
       </div>
       
        <!-- スクロールバー(開始) -->
        <div style="width:770px;height:300px;overflow-y:scroll;padding:10px;">
          <div id="cal">
            <table class="companyinflist" style="width=770px;">
              <tbody>
                <tr style="height:30px;">
                  <th align="left" style="width:100px;">請求日</th>
                  <th align="left" style="width:150px;">プロジェクトコード<br/>プロジェクト名</th>
                  <th align="left" style="width:100px;">ステータス</th>
                  <th align="left" style="width:100px;">勘定科目</th>
                  <th align="left" style="width:100px;">金額</th>
                  <th align="left" style="width:50px;">申請日</th>
                  <th align="left" style="width:50px;"></th>
                </tr>
              </tbody>
              <tbody id="keihiItems">
                <tr>
                  <td align="left" style="width:100px;"><span id="seikydate"></span></td>
                  <td align="left" style="width:150px;"><span id="pjcode"></span><br/><span id="pjname"></span></td>
                  <td align="left" style="width:100px;"><span id="statusname"></span></td>
                  <td align="left" style="width:100px;"><span id="kanjoname"></span></td>
                  <td align="left" style="width:100px;"><span id="kin"></span></td>
                  <td align="left" style="width:50px;"><span id="sindate"></span></td>
                  <td align="left" style="width:50px;">
                    <input type="image" id="doDetails" src="../img/btndeta.png" style="width:40px;height:21px;" alt="詳細" />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        
        <input type="image" id="doFinishReturn" src="../img/btnret.png" style="width:40px;height:21px;" alt="戻る" />
        <br/>
        
</form>
</body></html>