<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- タイトル -->
    <title>SIBグループウェア-月間スケジュール</title>
    
    <!-- ブラウザを自動判定し、CSSファイルを切り替える -->
    <titel>SIBスケジュール管理システム-スケジュール</titel>
    <!-- ブラウザを自動判定し、CSSファイルを切り替える -->
    <script type="text/javascript">
      var ie = "iestyle.css";
      var netscape = "niestyle.css";
      var cssfile;
      var browser = navigator.appName;
      
      if(browser == "Microsoft Internet Explorer")
        {cssfile = ie;}
      else
        {cssfile = netscape;}
        
      document.write('<link href="../css/'+ cssfile +'" type="text/css" rel="stylesheet" />');
    </script>
  
    <link rel="stylesheet" href="../css/cal_style_1.css" />
    <link rel="stylesheet" href="../css/cal_style_2.css" />
    <link rel="stylesheet" href="../css/commoninput.css" />
    <link rel="stylesheet" href="schedulelist.css" />
  
    <!--[if lt IE 7]>
      <script defer type="text/javascript" src="../js/pngfix.js"></script>
    <![endif]-->
  
  </head>
  <body>
    <CENTER>
      <FORM id="sucheduleForm">
        <CENTER>
          <DIV id="contents">
            <DIV id="c_pad">
              <h4 width="500px">ログイン社員情報</h4>
              
              <TABLE border="0" width="800px" >
                <TBODY>
                  <TR>
                    <TD>
                      <IMG src="../img/p3.png" alt="logo" ></IMG>
                    </TD>
                    <TD>  
                      <table class="companyinflist" style="width=500px;" align="left">
                        <TR>
                          <Th>社員コード</Th>
                          <TD align="left"><span id="employee_id">0002</span></TD>
                        </TR>
                        <TR>
                          <Th>社員名</Th>
                          <TD align="left"><span id="employee_name">藤本　卓</span></TD>
                        </TR>
                        <TR>
                          <Th>メールアドレス</Th>
                          <TD align="left"><span id="employee_mail">taku_fujimoto@sib.co.jp</span></TD>
                        </TR>
                      </table>
                      
                    </TD>
                  </TR>
                </TBODY>
              </TABLE>
              
            </DIV>
          </DIV>
        </CENTER>
        
        <div id="contents">
          <div id="c_pad">
            <h4>月間スケジュール</h4>
          </div>
        </div>
        
        <table class="companyinflist" style="width:770px;">
          <tr>
            <th style="width:90px; vertical-align:middle;">検索条件</th>
            <th style="width:75px; vertical-align:middle;">社員名</th>
            <td style="width:120px; vertical-align:middle;">
              <span id="employeeNameStr">新井</span>
            </td>
            <th style="width:75px; vertical-align:middle;">年月日</th>
            <td style="width:90px;">
              <select id="yearItems" style="width:60px;">
                <option value="0">検索なし</option>
              </select>
                                     年<br/>
              <select id="monthItems" style="width:60px;">
                <option value="0">検索なし</option>
              </select>
                                     月
            </td>
            <td style="width:185px;">
              <input type="image" id="doSearch" src="../img/btnsrc.png" style="width:60px;height:21px;" alt="検索" />
              &nbsp;&nbsp;
              <input type="image" id="doSearchCancel" src="../img/btnsrccan.png" style="width:60px;height:21px;" alt="検索解除" />
            </td>
            <td style="width:85px;">
              <input type="image" id="doScheduleAdd" src="../img/btnnew.png" style="width:80px;height:21px;" alt="新規追加" />
            </td>
            <td style="width:45px;">
              <input type="image" id="jumpWeekSchedule" src="../img/btnret.png" style="width:40px;height:21px;" alt="戻る" />
            </td>
          </tr>
        </table>
        <br />
        
        <!-- スケジュール一覧 -->
        <div id="cal">
          <h1><span id="monthlySchTitel" style="font-size:large;">January 2009</span></h1>
        </div>
        <br/>
        <div style="background-color:white; width:750px; overflow-x:scroll; border:inset;">
          <table class="companyinflist2" border="0" width="1400px;">
            <tr style="height:50px;" id="weekDayItems">
              <th style="width:200px; vertical-align:middle;">
                <center>
                  <span id="weekDay" class="dummy" style="font-size:16px;">曜日</span>
                </center>
              </th>
            </tr>
          </table>
             
          <div style="width:1400px; height:450px; overflow-x:hidden; overflow-y:scroll;">
            <table class="companyinflist" border="0" id="monthlySchItems" width="1400px;">
              <tbody id="weekScheduleItems">
                <tr id="dayScheduleItems">
                  <a id="goDaySchedule" href="../schedulelist/daySchedule.html?employeeID=aaa&amp;scheduleDate=bbb&amp;changeFlg=ccc">
                    <td id="body" class="dummy" align="left" valign="top">
                      <span id="dateStr" class="dummy">1</span><br/>
                      <center>
                        <div id="allDayScheduleItems">
                          <span id="allDaySchTitelStr" title="dummy"></span>
                        </div>
                        <br/><br/>
                        <div id="timeScheduleItems">
                          <span id="timeSch" title="dummy">
                            <span id="startTimeStr"></span>&nbsp;～&nbsp;
                            <span id="endTimeStr"></span>
                            &nbsp;&nbsp;
                          </span>
                          <span id="timeSchTitelStr" title="dummy"></span><br/>
                        </div>
                        <input type="hidden" id="scheduleDate" />
                      </center>
                    </td>
                  </a>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <input type="hidden" id="employeeID" />
        <input type="hidden" id="changeFlg " />
      </FORM>
    </CENTER>
  </body>
</html>