<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- タイトル -->
    <title>SIBグループウェア-社員個人情報　『パスワード変更』</title>
    
    <!-- ブラウザを自動判定し、CSSファイルを切り替える -->
    <script type="text/javascript">
      var ie = "iestyle.css";
      var netscape = "niestyle.css";
      var cssfile;
      var browser = navigator.appName;
      
      if(browser == "Microsoft Internet Explorer")
        {cssfile = ie;}
      else
        {cssfile = netscape;}
        
      document.write('<link href="../css/'+ cssfile +'" type="text/css" rel="stylesheet" />');
    </script>
    
    <script type="text/javascript">
      
      function chengeUpdChk(){
        
        if( confirm("パスワードを変更します。\nよろしいですか？")){
			
			document.getElementById("doFinishUpdate").click();

        }else{
          return false;
          
        }
        
      }  
    </script>
    
    <link rel="stylesheet" href="../css/cal_style_1.css" />
    <link rel="stylesheet" href="../css/cal_style_2.css" />
    <link rel="stylesheet" href="../css/commoninput.css" />
    
    <!--[if lt IE 7]>
      <script defer type="text/javascript" src="../js/pngfix.js"></script>
    <![endif]-->
    
  </head>
  <body>
    <form id="employeeInputForm">
       <center>
         <div id="contents">
           <div id="c_pad">
                       <h4>ログイン社員情報</h4>
             <table border="0" width="800px" >
               <tbody>
                 <tr>
                   <td>
                     <img src="../img/p3.png" alt="logo" ></img>
                   </td>
                   <td>
                     
                 <table class="companyinflist" style="width=500px;" align="left">
                   <tr>
                     <th>社員コード</th>
                     <td align="left"><span id="employee_id"></span></td>
                   </tr>
                   <tr>
                     <th>社員名</th>
                     <td align="left"><span id="employee_name"></span></td>
                   </tr>
                   <tr>
                     <th>メールアドレス</th>
                     <td align="left"><span id="employee_mail"></span></td>
                   </tr>
                 </table>
                   
                   </td>
                 </tr>
               </tbody>
             </table>
             
             <h2 style="width:740px;">ログインパスワード編集</h2>         
                <div id="cal">
          
                  <table class="companyinflist" style="width=770px;">
                    <tr>
                      <th align="left">現在のパスワード</th>
                      <td align="left">
                        <input class="Text" type="password" id="loginPasswordStr" style="width:200px;" maxlength="20" title="現在のパスワード" />
                        <br/><span id="loginPasswordStrMessage"></span>
                      </td>
                    </tr>
                    <tr>
                      <th align="left">新しいパスワード</th>
                      <td align="left">
                        <input class="Text" type="password" id="loginnewPasswordStr" style="width:200px;" maxlength="20" title="新しいパスワード" />
                        <br/><span id="loginnewPasswordStrMessage"></span>
                      </td>
                    </tr>
                    <tr>
                      <th align="left">新しいパスワード（確認）</th>
                      <td align="left">
                        <input class="Text" type="password" id="loginnewPasswordConfStr" style="width:200px;" maxlength="20" title="新しいパスワード（確認）" />
                        <br/><span id="loginnewPasswordConfStrMessage"></span>
                      </td>
                    </tr>
                  </table>
                </div>
                <br/>
                <h1><span id="UpdateMes"></span></h1>
                     </div>
         </div>
       </center>
                <br/>
                <br/>

                  <img onclick="chengeUpdChk()" src="../img/btnupd.png" style="width:40px;height:21px;" alt="更新" ></img>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="image" id="doFinishReturn" src="../img/btnret.png" style="width:40px;height:21px;" alt="戻る" />

      <!-- 隠し項目 -->
      <input type="button" id="doFinishUpdate" style="display:none;"/>
      <input type="hidden" id="dOru"/>
      <input type="hidden" id="retErrMess"/>
      
	<script language="JavaScript">
	<!--
		if(document.getElementById("retErrMess").value != ""){
			alert(document.getElementById("retErrMess").value);
			document.getElementById("retErrMess").value = "";
		}
	// -->
	</script>		
    </form>
  </body>
</html>