@charset "UTF-8";

input.InputText {
	width : 150px;
}

table.tbl01 {
	table-layout: fixed;
	margin: 10px 0px 0px 10px;
}

table.tbl01 td.tbl01W {
	width : 100px;
}

table.tbl01 td.tbl02W {
	width : 200px;
}