@charset "UTF-8";

input.InputText {
	width : 150px;
}

table.FtrTbl01 tr {
	height : 40px;
}

table.HdrTbl01 tr.te0202tr {
	height : 20px;
}

table.FtrTbl01 td {
	border : 1px solid #888888;
}

/* チェック */
table.HdrTbl01 th.th01 {
	width : 30px;
}
table.FtrTbl01 td.td01 {
	width : 30px;
	text-align : center;
}

/* 日 */
table.HdrTbl01 th.th02 {
	width : 40px;
}
table.FtrTbl01 td.td02 {
	width : 40px;
	text-align : right;
}

/* 状況 */
table.HdrTbl01 th.th03 {
	width : 110px;
}
table.FtrTbl01 td.td03 {
	width : 110px;
	text-align : center;
}
/*区間 */
table.HdrTbl01 th.th04 {
	width : 80px;
}
table.FtrTbl01 td.td04 {
	width : 80px;
	text-align : center;
}

/* 金額 */
table.HdrTbl01 th.th05 {
	width : 90px;
}
table.FtrTbl01 td.td05 {
	width : 90px;
	text-align : right;
}



div.HdrDiv01Add {
	margin : 10px 0px 10px 0px;
}

input.text01 {
	width : 20px;
}
input.text02 {
	width : 20px;
}
input.text03 {
	width : 75px;
}
input.text04 {
	width : 45px;
}
input.text05 {
	width : 65px;
}

div.HdrDiv01Add {
	margin : 5px 0px 5px 0px;
}
