<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:te="http://www.seasar.org/teeda/extension" xml:lang="ja" lang="ja">
<!-- returnData -->
<span id="employeeIDStr"></span>
<span id="employeeNameStr"></span>
<span id="employeeNamekanaStr"></span>
<span id="loginIDStr"></span>
<span id="loginPasswordStr"></span>
<span id="employeePositionIDStr"></span>
<span id="defaultGroupIDStr"></span>
<span id="employeeEmailStr"></span>
<span id="employeeEmail2Str"></span>
<span id="employeeEmail3Str"></span>
<span id="employeePostcodeStr"></span>
<span id="employeeAddress1Str"></span>
<span id="employeeAddress2Str"></span>
<span id="employeeTelStr"></span>
<span id="employeeMphoneStr"></span>
<span id="employeeFaxStr"></span>
<span id="mastermainteFlg"></span>
<span id="kogutiKanriFlg"></span>
<span id="pjLeaderFlg"></span>

<!-- PostData -->
<span id="userID"></span>
<span id="userPas"></span>

</html>