<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:te="http://www.seasar.org/teeda/extension" xml:lang="ja" lang="ja">
<!-- postData -->
<span id="userID"></span>
<span id="userPas"></span>

<span id="sendYear"></span>
<span id="sendMonth"></span>
<span id="empName"></span>
<span id="empID"></span>
<span id="sendMail"></span>
<span id="wrokinghours"></span>
<span id="attendancedday"></span>
<span id="absentdays"></span>
<span id="dependent"></span>
<span id="useannoaldyas"></span>
<span id="nonusedannualdays"></span>
<span id="sumnnervacation"></span>
<span id="base"></span>
<span id="syaho"></span>
<span id="teiki"></span>
<span id="tuukinn"></span>
<span id="nontax"></span>
<span id="kenho"></span>
<span id="kounenn"></span>
<span id="koyoho"></span>
<span id="syotax"></span>
<span id="citytax"></span>

<!-- retData -->
<span id="resultFlg"></span>

</html>