<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:te="http://www.seasar.org/teeda/extension" xml:lang="ja" xmlns="http://www.w3.org/1999/xhtml" lang="ja">
	<head>
		<meta content="text/html;charset=UTF-8" http-equiv="Content-Type" />
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1" />
		<link rel="stylesheet" href="/STE/view/css/reset.css" />
		<link rel="stylesheet" href="/STE/view/css/basepage.css" />
		<script LANGUAGE="JavaScript" src="/STE/view/js/common.js"></script>
	</head>
	<body>
		<header class="headerstyle">
			<h1><img src="/STE/view/img/logo.png"></img></h1>
		</header>
		<article class="articlestyle">
			<section>
				<te:includeChildBody/>			
			</section>
		</article>
		<footer >
			<div class="footstyle1">
				<b><span id="companyNameStr"></span></b>
				<p><span id="companyPostCodeStr"></span>&nbsp;<span id="companyAddress1Str"></span>&nbsp;<span id="companyAddress2Str"></span><BR/>
				<span id="companyTelStr"></span>&nbsp;<span id="companyFaxStr"></span></p>
			</div>
			<div class="footstyle2">
				Copyright (C) SIB All Rights Reserved.
			</div>
		</footer>
	</body>
	<script>
		errMes();
	</script>
</html>