<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- タイトル -->
    <title>SIBグループウェア-役職名マスタ　『新規/更新』</title>
    
    <!-- ブラウザを自動判定し、CSSファイルを切り替える -->
    <script type="text/javascript">
      var ie = "iestyle.css";
      var netscape = "niestyle.css";
      var cssfile;
      var browser = navigator.appName;
      
      if(browser == "Microsoft Internet Explorer")
        {cssfile = ie;}
      else
        {cssfile = netscape;}
        
      document.write('<link href="../../css/'+ cssfile +'" type="text/css" rel="stylesheet" />');
    </script>
    
    <script type="text/javascript">

      function chengeInsChk(){
        
        if( confirm("入力された内容で登録します。\nよろしいですか？")){
   
            document.getElementById("doFinishUpdate").click();
            
        }else{
          return false;
          
        }
        
      } 
      
      function chengeUpdChk(){
        
        if( confirm("入力された内容で更新します。\nよろしいですか？")){
   
            document.getElementById("doFinishUpdate").click();
            
        }else{
          return false;
          
        }
        
      }  
    </script>
    
    <link rel="stylesheet" href="../../css/cal_style_1.css" />
    <link rel="stylesheet" href="../../css/cal_style_2.css" />
    <link rel="stylesheet" href="../../css/commoninput.css" />
    
    <!--[if lt IE 7]>
      <script defer type="text/javascript" src="../../js/pngfix.js"></script>
    <![endif]-->
    
  </head>
  <body>
    <form id="employeeInputForm">
      <center>
        <div id="contents">
          <div id="c_pad">
            <h4 style="width:740px;">社員情報編集</h4>         
            <div id="cal">
              <table class="companyinflist" style="width=770px;">
                <tr>
                  <th align="left">役職名</th>
                  <td align="left">
                      <input class="Text" id="ClassNameStr" style="width:150px;" maxlength="10" title="役職名" />
                      <br/><span id="ClassNameStrMessage"></span>
                  </td>
                </tr>
                
                    <tr>
                      <th align="left">有効/無効</th>
                      <td align="left">
                      	<div id="isUpdate-2">
                         <input type="hidden" id="kaihaiItemsSave" />
                         <select id="kaihai" style="width:100px;">
                           <option value="0">dummy</option>
                         </select>
                      	</div>
                      	<div id="isNotUpdate-2">
                           有効
                      	</div>

                      </td>
                    </tr>
                    
                <tr>
                  <th align="left">表示順</th>
                  <td align="left">
                    <input class="Text" id="orderSEQStr" style="width:80px;" maxlength="8" title="表示順" />
                    <br/><span id="orderSEQStrMessage"></span>
                  </td>
                </tr>
              </table>
            </div>
            <br/>
            <h1><span id="UpdateMes"></span></h1>
          </div>
        </div>
      </center>
      <br/>
      <br/>
      <div id="isUpdate">
        <img onclick="chengeUpdChk()" src="../../img/btnupd.png" style="width:40px;height:21px;" alt="更新" ></img>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="image" id="doFinishReturn" src="../../img/btnret.png" style="width:40px;height:21px;" alt="戻る" />
      </div>
      <div id="isNotUpdate">
        <img onclick="chengeInsChk()" src="../../img/btnadd.png" style="width:40px;height:21px;" alt="追加" ></img>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="image" id="doFinishReturn" src="../../img/btnret.png" style="width:40px;height:21px;" alt="戻る" />
      </div>
      <!-- 隠し項目 -->
      <input type="button" id="doFinishUpdate" style="display:none;"/>
      <input type="hidden" id="dOru"/>
    </form>
  </body>
</html>