<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- タイトル -->
    <title>SIBグループウェア-マスタメンテナンス</title>
    
    <link rel="stylesheet" href="../css/commoninput.css" />
    
    <!-- ブラウザを自動判定し、CSSファイルを切り替える -->
    <script type="text/javascript">
      var ie = "iestyle.css";
      var netscape = "niestyle.css";
      var cssfile;
      var browser = navigator.appName;
      
      if(browser == "Microsoft Internet Explorer")
        {cssfile = ie;}
      else
        {cssfile = netscape;}
        
      document.write('<link href="../css/'+ cssfile +'" type="text/css" rel="stylesheet" />');
    </script>
        <script type="text/javascript">
          
          function compbtn(){
            
            document.getElementById("doCompany").click();
    
          }  
        </script>
        
    <!--[if lt IE 7]>
      <script defer type="text/javascript" src="../js/pngfix.js"></script>
    <![endif]-->
    <script src="../js/prototype.js" type="text/javascript"></script>
    <script src="../js/tooltip.js" type="text/javascript"></script>
  </head>
  
  <body>
    <center>
      <form id="mastermainteForm">
        <center>
          <div id="contents">
            <div id="c_pad">
              <h4>マスタメンテナンス</h4>
            </div>
          </div>
          <br/>
          <table>
            <tr>
              <td width="200">
                <input type="image" id="doCustomer" src="../img/mm_cus.png" style="width:128px;height:128px;" alt="顧客マスタ管理" />
              </td>
              <td width="200">
                <input type="image" id="doCompany" src="../img/mm_com.png" style="width:128px;height:128px;" alt="会社情報マスタ管理" />
              </td>
              <td width="200">
                <input type="image" id="doEmployee" src="../img/mm_emp.png" style="width:128px;height:128px;" alt="社員マスタ管理" />
              </td>
          
            </tr>
            <tr>
              <td>
                <span style="font-weight:bold;">顧客マスタ管理</span>
              </td>
              <td>
                <span style="font-weight:bold;">会社情報マスタ管理</span>
              </td>
              <td>
                <span style="font-weight:bold;">社員マスタ管理</span>
              </td>
            </tr>
            
            <tr>
              <td>
                <br/><br/>
              </td>
              <td>
                <br/><br/>
              </td>
              <td>
                <br/><br/>
              </td>
            </tr>
            
            <tr>
              <td width="200">
                <input type="image" id="doClass" src="../img/mm_clas.png" style="width:128px;height:128px;" alt="役職マスタ管理" />
              </td>
              <td width="200">
                <input type="image" id="doGroup" src="../img/mm_groin.png" style="width:128px;height:128px;" alt="グループマスタ管理" />
              </td>
              <td width="200">
                <input type="image" id="doGroupEdit" src="../img/mm_groat.png" style="width:128px;height:128px;" alt="グループ編集" />
              </td>
          
            </tr>
            <tr>
              <td>
                <span style="font-weight:bold;">役職マスタ管理</span>
              </td>
              <td>
                <span style="font-weight:bold;">グループマスタ管理</span>
              </td>
              <td>
                <span style="font-weight:bold;">グループ編集</span>
              </td>
            </tr>

            <tr>
              <td>
                <br/><br/>
              </td>
              <td>
                <br/><br/>
              </td>
              <td>
                <br/><br/>
              </td>
            </tr>
            
            <tr>
              <td width="200">
                <input type="image" id="doPjcode" src="../img/mm_clas.png" style="width:128px;height:128px;" alt="プロジェクトコード管理" />
              </td>
              <td width="200">
                <input type="image" id="doKengen" src="../img/mm_clas.png" style="width:128px;height:128px;" alt="権限管理" />
              </td>
              <td width="200">
                <input type="image" id="doRPjcode" src="../img/mm_clas.png" style="width:128px;height:128px;" alt="プロジェクトコード管理" />
              </td>
          
            </tr>
            <tr>
              <td>
                <span style="font-weight:bold;">プロジェクトコード管理</span>
              </td>
              <td>
                <span style="font-weight:bold;">権限管理</span>
              </td>
              <td>
                <span style="font-weight:bold;">プロジェクトコード管理</span>
              </td>
            </tr>
            
          </table>
        </center>         
      </form>
      <br/>
      <br/>
      <br/>
      <br/>
   <div id='custip' style="display:none; width:150px; margin: 5px; background-color: grey;" align="left">
    顧客マスタ管理<br />
    顧客情報を追加、変更、削除します。
   </div>
   <div id='emptip' style="display:none; width:150px; margin: 5px; background-color: grey;" align="left">
    社員マスタ管理<br />
    社員情報を追加、変更、削除します。
   </div>
   <div id='comtip' style="display:none; width:150px; margin: 5px; background-color: grey;" align="left">
    会社情報管理<br />
    会社の住所、電話番号等の情報を編集します。
   </div>
   <div id='classtip' style="display:none; width:150px; margin: 5px; background-color: grey;" align="left">
    役職マスタ管理<br />
    役職情報を追加、変更、削除します。
   </div>
   <div id='grointip' style="display:none; width:150px; margin: 5px; background-color: grey;" align="left">
    グループマスタ管理<br />
    グループ情報を追加、変更、削除します。
   </div>
   <div id='groattip' style="display:none; width:150px; margin: 5px; background-color: grey;" align="left">
    グループ編集<br />
    登録されているグループに、社員を追加、変更、削除します。
   </div> 
   <div id='pjcodetip' style="display:none; width:150px; margin: 5px; background-color: grey;" align="left">
    プロジェクトコード管理<br />
    プロジェクトコードの追加、編集します。
   </div> 
   <div id='kengentip' style="display:none; width:150px; margin: 5px; background-color: grey;" align="left">
    権限管理<br />
    権限の追加、編集します。
   </div> 
   <div id='pjcodetip' style="display:none; width:150px; margin: 5px; background-color: grey;" align="left">
    プロジェクトコードマスタ<br />
    プロジェクトコードの追加、編集します。
   </div> 
           
   <script type="text/javascript">
     var my_toolcustip = new Tooltip('doCustomer', 'custip')
   </script>
   <script type="text/javascript">
     var my_toolcomtip = new Tooltip('doCompany', 'comtip')
   </script>  
   <script type="text/javascript">
     var my_toolemptip = new Tooltip('doEmployee', 'emptip')
   </script>
   <script type="text/javascript">
     var my_toolemptip = new Tooltip('doClass', 'classtip')
   </script>  
   <script type="text/javascript" >
     var my_toolgroattip = new Tooltip('doGroupEdit', 'groattip')
   </script> 
   <script type="text/javascript">
     var my_toolgrointip = new Tooltip('doGroup', 'grointip')
   </script>    
   <script type="text/javascript">
     var my_toolgrointip = new Tooltip('doPjcode', 'pjcodetip')
   </script>    
   <script type="text/javascript">
     var my_toolgrointip = new Tooltip('doKengen', 'kengentip')
   </script>
    <script type="text/javascript">
     var my_toolgrointip = new Tooltip('doPjcode', 'pjcodetip')
   </script>    
    </center>
  </body>
</html>