<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- タイトル -->
    <title>SIBグループウェア-トピックス　『削除確認』</title>
    
    <!-- ブラウザを自動判定し、CSSファイルを切り替える -->
    <script type="text/javascript">
      var ie = "iestyle.css";
      var netscape = "niestyle.css";
      var cssfile;
      var browser = navigator.appName;
      
      if(browser == "Microsoft Internet Explorer")
        {cssfile = ie;}
      else
        {cssfile = netscape;}
        
      document.write('<link href="../css/'+ cssfile +'" type="text/css" rel="stylesheet" />');
    </script>
    <script type="text/javascript" src="../js/calendar.js" ></script>
    
    <script type="text/javascript">
      
      function checkDelete(){
        
        if( confirm("選択したトピックスを削除します。\nよろしいですか？")){
    		document.getElementById("doDelete").click();
        }else{
          return false; 
        }
      }
       
    </script>
    
    <link rel="stylesheet" href="../css/cal_style_1.css" />
    <link rel="stylesheet" href="../css/cal_style_2.css" />
    <link rel="stylesheet" href="../css/commoninput.css" />
    
    <!--[if lt IE 7]>
      <script defer type="text/javascript" src="../js/pngfix.js"></script>
    <![endif]-->
  
  </head>
  
  <body>
    <center>
      <form id="topicsConfForm">
        <div id="contents">
          <div id="c_pad">
            <h4>トピックス削除確認</h4>
          </div>
        </div>

        <!-- スクロールバー(開始) -->
        <div id="cal">
          <table class="companyinflist" style="width=550px;">
            <tbody>
              <tr>
                <th align="left" style="width:150px;">ID</th>
                <td align="left" style="width:400px;">
                  <span id="tipsID"></span>
                </td>
              </tr>
              <tr>
                <th align="left" style="width:150px;">掲載開始日</th>
                <td align="left" style="width:400px;">
                  <span id="startDate"></span>
                </td>
              </tr>
              <tr>
                <th align="left" style="width:150px;">掲載終了日</th>
                <td align="left" style="width:400px;">
                  <span id="endDate"></span>
                </td>
              </tr>
              <tr>
                <th align="left" style="width:150px;">内容</th>
                <td align="left" style="width:400px;">
                  <span id="note"></span>
                </td>
              </tr>
              <tr>
                <th align="left" style="width:150px;">作成者</th>
                <td align="left" style="width:400px;">
                  <span id="createdEmpName"></span>
                </td>
              </tr>
              <tr>
                <th align="left" style="width:150px;">優先順位</th>
                <td align="left" style="width:400px;">
                  <span id="priority"></span>
                </td>
              </tr>
              <tr>
                <th align="left" style="width:150px;">添付ファイル</th>
                <td align="left" style="width:400px;word-break:break-all;">
	              <input type="hidden" id="fileIDItemsSave" />
	              <div id="fileIDItems">
	                <span id="isFile">
	                  <span id="fileName"></span>
	                  <span id="isFileDelete">　（削除済）</span>
	                  <br/>
	                  <input type="hidden" id="fileDeleteFlg" />
	                </span>
	              </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <br/>
         
        <!-- ボタン配置 -->
        <img onclick="checkDelete()" src="../img/btndis.png" style="width:40px;height:21px;" alt="削除" ></img>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input type="image" id="doCancel" src="../img/btnret.png" style="width:40px;height:21px;" alt="戻る" />
        
        <!-- 隠し項目 -->
        <input type="hidden" id="createdEmpID" />
        <input type="button" id="doDelete" style="display:none;" />
      </form>
    </center>
  </body>
</html>